<h1>Hi <%= @studentUser.name %>,Greetings from ECE517_574 library!</h1>
<p>
  You have successfully checked out the book, <%= @book.title %> with isbn: <%= @book.isbn %>.<br>
</p>
<p>Have a great day!</p>